
$base: 14px;
$max-width: 1920px;

$focus-color: #ff7d13 ;

$main-color: #08306C;
$navi-active-color: #52e692;
$navi-small-active-color: #60B883;

$focus-color: #379583;

$top-h: 84px;
$top-h-add10: 94px;
$top-h-top: 50px;
$top-h-bottom: 34px;
$location-h: 30px;

$footer-h: 32px;

$side-w: 240px;
$side-s: 75px;

$placeholder-color: rgb(192, 192, 192);

